<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TFServerPath" value="C:\PCMASTER\TFServer.exe"/>
    <add key="BAKPath" value="C:\PCMASTER\BAK\"/>    
    <add key="RetailerId" value="0"/>
    <add key="RetailerName" value="changeMe"/>
    <add key="ZipCompressionLevel" value="5"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBOService" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="134217728" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="134217728" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mercurytest.azurewebsites.net/BOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBOService" contract="BOService.IBOService" name="WSHttpBinding_IBOService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
