<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="NSTOXConnectionString"
      connectionString="Data Source=hkeymb3lzz.database.windows.net;Initial Catalog=NSTOX_Test1;Persist Security Info=True;User ID=DHTest@hkeymb3lzz;Password=Cio1Can1;MultipleActiveResultSets=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>