<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NSTOXConnectionString" connectionString="Server=tcp:vib8b7v2th.database.windows.net,1433;Database=NSTOX;User ID=nstox@vib8b7v2th;Password=Gt6HJ3wsxd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CloudConnectionString" value="DefaultEndpointsProtocol=https;AccountName=nstox;AccountKey=agyTF2fhNFI/511qsodN1dqJ+LEUiA4FreiPtUWLjD0uf6yoBJnTHOYW73g6fT7TirXdVVbVPA0q0mYmh0+N7w=="/>
    <add key="StorageTraceListenerAccountName" value="nstox"/>
    <add key="StorageTraceListenerAccountKey" value="agyTF2fhNFI/511qsodN1dqJ+LEUiA4FreiPtUWLjD0uf6yoBJnTHOYW73g6fT7TirXdVVbVPA0q0mYmh0+N7w=="/>
    <add key="StorageTraceListenerTableName" value="logs"/>
    <add key="StorageTraceListenerPartitionKey" value="${day}"/>
    <add key="StorageTraceListenerFlushTimeoutInMilliseconds" value="1000"/>
    <add key="StorageTraceListenerBufferSize" value="1000"/>
    <add key="StorageTraceListenerThrowOnError" value="false"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="32768" executionTimeout="3600"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBOService" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="134217728" maxReceivedMessageSize="134217728" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="134217728" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpCompression doDiskSpaceLimiting="false" minFileSizeForComp="1">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" doDynamicCompression="true" doStaticCompression="true"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/atom+xml" enabled="true"/>
        <add mimeType="application/xaml+xml" enabled="true"/>
        <add mimeType="application/xop+xml" enabled="true"/>
        <add mimeType="application/soap+xml" enabled="true"/>
        <add mimeType="application/msbin1" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="image/x-icon" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--<add name="FileListener"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             initializeData="Execution.txt"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>